@model UniversityCore.Entities.Grade

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Grade</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstArticle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstArticle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Firstdegree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Firstdegree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondeArticle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondeArticle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondeDegree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondeDegree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThirdArticle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThirdArticle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThirdDegree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThirdDegree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FourArticle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FourArticle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FourDegree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FourDegree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Avarge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Avarge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.student.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GradeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
